<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
  <include file="Public/header" />
	  <div class="lz_daohang" style="position:relative;">
	        <div class="img_00"><img src="__PUBLIC__/images/arrow1.png" /></div>
	        <include file="Public/kuaijiLink" />
	  </div>
  </div>
  <!--
  <div class="lz_daohang" style="position:relative;">
        <div class="img_00"><img src="images/arrow1.png" /></div>
         <a href="#"><em class="em_arrow"></em>公司介绍</a>
         <a href="#"><em class="em_arrow"></em>项目介绍</a>
		 <a href="#"><em class="em_arrow"></em>公司资质</a>
         <a href="#"><em class="em_arrow"></em>服务产品</a>
		 <a href="#"><em class="em_arrow"></em>典型案例</a>
         <a href="#"><em class="em_arrow"></em>联系我们</a>
  </div>
  -->
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao2">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">会计公司<span class="title">Accounting Firm</span></div>
      <div class="lz_ppz1 mt15"><a href="__CONTROLLER__/kuaijigongsijieshao"><em class="em_arrow2"></em><span >公司介绍</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijixiangmujieshao"><em class="em_arrow2"></em><span>项目介绍 </span></a></div>
      <div class="lz_ppz1 "><a href="__CONTROLLER__/kuaijizhengfuruwei"><em class="em_arrow2"></em><span>政府入围</span></a></div>
      <div class="lz_ppz1 lz_ppz"><a href="__CONTROLLER__/kuaijigongsizizhi"><span class="changed">公司资质</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijifuwuchanpin"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijifuwutese"><em class="em_arrow2"></em><span>服务特色</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijidianxinganli"><em class="em_arrow2"></em><span>典型案例</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijilianxiwomen"><em class="em_arrow2"></em><span>关于我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">公司资质<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">会计公司</a> &gt;<a href="#" class="visi"> 公司资质</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp company_zz">
          <ul class="ul_company_zz">
            <li> <img src="__PUBLIC__/images/zz01.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
            <li> <img src="__PUBLIC__/images/zz02.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
            <li> <img src="__PUBLIC__/images/zz03.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
            <li> <img src="__PUBLIC__/images/zz04.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
            <li> <img src="__PUBLIC__/images/zz05.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
            <li> <img src="__PUBLIC__/images/zz06.jpg" />
              <div class="zz_titlle">xxxxxxxxxxxxxxxxxxx</div>
            </li>
          </ul>
          <div class="clear"></div>
          <!--<div class="pages"> <a href="#" class="page0">首页</a> <a href="#" class="page0">上一页</a> <a href="#" class="page0 page1">1</a> <a href="#" class="page0">2</a> <a href="#" class="page0">下一页</a> <a href="#" class="page0">尾页</a> </div>-->
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <a href="http://www.miitbeian.gov.cn/" style="color:#015ca2;">沪ICP备06023446号-1</a></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
