<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
  <div class="lz_kjtou">
   <include file="Public/header" />
  <div class="lz_daohang" style="position:relative;">
        <div class="img_00"><img src="__PUBLIC__/images/arrow1.png" /></div>
        <include file="Public/kuaijiLink" />
  </div>
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">会计公司<span class="title">Accounting Firm</span></div>
      <div class="lz_ppz1 lz_ppz mt15"><a href="__CONTROLLER__/kuaijigongsijieshao"><span class="changed">公司介绍</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijixiangmujieshao"><em class="em_arrow2"></em><span>项目介绍 </span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijizhengfuruwei"><em class="em_arrow2"></em><span>政府入围</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijigongsizizhi"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijifuwuchanpin"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijifuwutese"><em class="em_arrow2"></em><span>服务特色</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijidianxinganli"><em class="em_arrow2"></em><span>典型案例</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/kuaijilianxiwomen"><em class="em_arrow2"></em><span>关于我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">公司介绍<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">会计公司</a> &gt;<a href="#" class="visi"> 公司介绍</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp">
        	    <input type="hidden" name="" id="" value="" />
		          <div class="nr_l" id="article">
		          	<volist name="list" id="vo"  >
									{$vo.article}
								</volist>
		          </div>
          <div class="nr_r"> <img class="index_img0" src="__PUBLIC__/images/t1.png" width="240" height="160"/> <img class="index_img"src="__PUBLIC__/images/t2.png" width="240" height="160"/> </div>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <a href="http://www.miitbeian.gov.cn/" style="color:#015ca2;">沪ICP备06023446号-1</a></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
<script type="text/javascript">
     var article=document.getElementById("article")
     var content=article.innerHTML.replace(/^/gm,'<p>').replace(/$/gm,'</p>')
     article.innerHTML=content
</script>
</html>
