<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
  <include file="Public/header" />
  <div class="lz_daohang" style="position:relative;">
    <div class="img_01"><img src="__PUBLIC__/images/arrow1.png" /></div>
      <include file="Public/zaojiaLink" />
  </div>
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
       <div class="lz_zhuyao_lt">造价公司<span class="title">Cost company</span></div>
      <div class="lz_ppz1  lz_ppz mt15"><a href="#"><span class="changed">公司简介</span></a> </div>
      <div class="lz_ppz1"> <a href="#"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="#"> <em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>典型案例</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>联系我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">公司介绍<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">造价公司</a> &gt;<a href="#" class="visi"> 公司介绍</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp">
          <div class="nr_l">
            <p>  上海沪中建设工程造价咨询有限公司由资深注册造价工程师、招标工程师及具有相关执业资格人士投资，经上海市建设和管理委员会批准成立，系“中国建设工程造价管理协会”会员。公司注册资金100万元，集工程造价咨询、工程结算审价、招标投标代理、政府采购招标中介等从业资格为一体。</p>
            <p>公司1986年开始从事工程造价咨询业务，积累了丰富的实践经验、形成了规范的工作模式、造就了卓越的专业队伍。公司建立了完善的质量控制制度和职业道德守则，配备了齐全的现代化办公设施和造价应用软件，形成了互通的造价资料信息咨询网络，具备了为不同客户提供优质高效专业服务的综合能力。</p>
            <p>公司以一批长期在施工、建设、设计、监理、造价咨询等单位从事造价管理工作的人员为骨干，形成拥有近四十名技术人员的专业队伍，其中具有高中级技术职称的占84%、大专以上学历的占95%。公司现有注册造价工程师二十名，招标工程师、咨询工程师、注册会计师、房地产估价师、监理工程师等相关专业人员十余名，其专业结构配备合理、职业技能日臻完善。</p>
			<p> 十八年来，公司始终坚持“服务周到慎密、工作规范严谨、质量精益求精、收费合理低价”的原则，完成全过程造价控制、工程预结算审价、工程招投标代理、政府采购招
</p>
		  </div>
          <div class="nr_r"> <img class="index_img0" src="__PUBLIC__/images/t1.png" width="240" height="160"/> <img class="index_img"src="__PUBLIC__/images/in01.jpg" width="240" height="160"/> </div>
		  <div class="clear"></div>
		  <p class="p_02">标中介、工程造价司法鉴定、造价业务专题咨询等各类专业服务将近四千项，为国家财政和业主节约投资近二十亿元。我们的服务得到了政府机关、建设单位、施工单位、社会人士等各方的认可和赞赏，我们的造价咨询成果文件具有社会公信力。继往开来，我们追求的是精益求精的技术，是完美无缺的服务；我们的追求是客户需要，客户的需要就是我们的追求。</p>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <span style="color:#015ca2;">苏ICP备15030313</span></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
