<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
  <include file="Public/header" />
  <div class="lz_daohang2" style="position:relative;"> 
  	<include file="Public/zaojiaLink" />
  </div>
  <div class="lz_kjdt2"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">造价公司<span class="title">Cost company</span></div>
      <div class="lz_ppz1  mt15"><a href="#"><em class="em_arrow2"></em><span>公司简介</span></a> </div>
      <div class="lz_ppz1"> <a href="#"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1 lz_ppz"><a href="#"><span class="changed">典型案例</span> </a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>联系我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">典型案例<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">造价公司</a> &gt;<a href="#" class="visi"> 典型案例</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp spacil_exmple">
          <ul class="ul_exmple">
            <li><a href="#">
              <div class="yanzi">育才中学新校区</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">上海市房产大厦</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">交行交银大厦 </div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">静安体育中心 </div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">东苑绿世界</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">鑫湖渡假村</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">沪中花苑</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">华洲路绿化带</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">静安公园改建</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">达安花园住宅</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">东源别墅</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">国际丽都城 </div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">当代·清水园</div>
              <div class="yanzi2">xxxx</div>
              </a></li>
            <li><a href="#">
              <div class="yanzi">德安大厦 </div>
              <div class="yanzi2">xxxx</div>
              </a></li>
          </ul>
          <div class="clear"></div>
          <div class="pages"> <a href="#" class="page0">首页</a> <a href="#" class="page0">上一页</a> <a href="#" class="page0 page1">1</a> <a href="#" class="page0">2</a> <a href="#" class="page0">下一页</a> <a href="#" class="page0">尾页</a> </div>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <span style="color:#015ca2;">苏ICP备15030313</span></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
