<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
<style type="text/css">
	.list-page{
		text-align: center;
	}
		.list-page .current{
	    margin: 0 5px;
	    padding: 2px 7px;
	    background: #005bac;
	    border: 1px #dfdfdf solid;
	    color: #fff;
    }
    .list-page a {
	    margin: 0 5px;
	    padding: 2px 7px;
	    border: 1px solid #ccc;
	    background: #f3f3f3;
	}
</style>
</head>
<body>
<div class="lz_kj">
 <include file="Public/header" />
  <div class="lz_daohang" style="position:relative;">
        <div class="img_03"><img src="__PUBLIC__/images/arrow1.png" /></div>
        <include file="Public/zixunLink" />
  </div>
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">咨询公司<span class="title">consultant firm</span></div>
      <div class="lz_ppz1 mt15"><a href="__CONTROLLER__/zixungongsijieshao"><em class="em_arrow2"></em><span>公司介绍</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/zixunzuzhujiegou"><em class="em_arrow2"></em><span>组织机构</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/zixungongsizizhi"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/zixunfuwuchanpin"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1 lz_ppz"><a href="__CONTROLLER__/zixundianxinganli"><span class="changed">典型案例</span> </a></div>
      <div class="lz_ppz1"><a href="__CONTROLLER__/zixunlianxiwomen"><em class="em_arrow2"></em><span>联系我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">典型案例<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">咨询公司</a> &gt; <a href="#" class="visi">典型案例</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp">
            <ul class="ul_exmple">
            	<volist name="list" id="vo">
            <li><a href="#"><div class="yanzi">{$vo.leftcontent}</div><div class="yanzi2">{$vo.rightcontent}</div></a></li>
               </volist>
          </ul>
		  
          <div class="clear"></div>
           <div class="list-page"> {$page}</div>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <a href="http://www.miitbeian.gov.cn/" style="color:#015ca2;">沪ICP备06023446号-1</a></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
