<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
  <include file="Public/header" />
  <div class="lz_daohang" style="position:relative;">
        <div class="img_03"><img src="__PUBLIC__/images/arrow1.png" /></div>
        <include file="Public/zixunLink" />
  </div>
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">咨询公司<span class="title">consultant firm</span></div>
      <div class="lz_ppz1 lz_ppz mt15"><a href="#"><span class="changed">公司介绍</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>组织机构</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>典型案例</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>联系我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">公司介绍<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">咨询公司</a> &gt; <a href="#" class="no_change">公司介绍</a> &gt; <a href="#" class="visi"> 公司简介</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp">
          <div class="nr_l">
            <p>上海沪中财务管理咨询有限公司系由资深专业人士投资、注册资金为50万元的集财务咨询、税务咨询、风险管理、资本运作、内控设计、会计帐务系统设置及企业设立登记等各类代理资格的专业中介机构。本公司前身为沪中会计师事务所咨询部，公司单设后依托沪中专业集团的坚实平台，综合多领域各类专业人才之优势，始终坚持以风险控制为原则，方便客户为方针，精心打造沪中专业品牌。<br />历经数十年的风雨，专业公司具备注册税务师、注册会计师、注册管理咨询师、高级管理咨询师、注册资产评估师、工程造价师、房地产估价师、会计师等各类资质从业人员。形成了一支业务本领过硬、综合能力兼备近三十位专业咨询顾问组成的融合了“咨询派、理论派和实践派”的专业团队。公司信奉“以人为本”的管理理念，并且将经营企业提升至尤如经营人生同等的地位。</p>
            <p>随着公司业务的不断扩张以及外资各种项目的不断溶入，我们还将不断引进不同层次、不同行业的资深专业咨询专家，恪守尽职，继续一如既往地为您提供我们的专业服务，将我们的专业服务一同溶入到您的企业实体中并能伴随着企业一同成长！</p>
           
          </div>
          <div class="nr_r"> <img class="index_img0" src="__PUBLIC__/images/t1.png" width="240" height="160"/> <img class="index_img"src="__PUBLIC__/images/zx_01.jpg" width="240" height="160"/> </div>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <span style="color:#015ca2;">苏ICP备15030313</span></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
