<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
<title>上海沪中专业集团</title>
</head>
<body>
<div class="lz_kj">
 <include file="Public/header" />
  <div class="lz_daohang" style="position:relative;">
        <div class="img_03"><img src="__PUBLIC__/images/arrow1.png" /></div>
         <include file="Public/zixunLink" />
  </div>
  <div class="lz_kjdt"><img src="__PUBLIC__/images/datu.png" width="1000" height="243" /></div>
  <div class="lz_zhuyao">
    <div class="lz_zhuyao_l">
      <div class="lz_zhuyao_lt">咨询公司<span class="title">consultant firm</span></div>
      <div class="lz_ppz1 mt15"><a href="#"><em class="em_arrow2"></em><span>公司介绍</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>组织机构</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>公司资质</span></a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>服务产品</span></a></div>
      <div class="lz_ppz1 lz_ppz"><a href="#"><span class="changed">典型案例</span> </a></div>
      <div class="lz_ppz1"><a href="#"><em class="em_arrow2"></em><span>联系我们</span></a></div>
    </div>
    <div class="lz_zhuyao_r">
      <div class="lz_zhuyao_rdiv">
        <div class="lz_zhuyao_rdiv720">
          <div class="lz_zhuyao_rdiv720l">典型案例<img src="__PUBLIC__/images/dfdf.png" width="4" height="7"  style="margin-left:14px;"/></div>
          <div class="lz_zhuyao_rdiv720r"><img src="__PUBLIC__/images/ffdde.png" width="10" height="11" class="index_imgw"/>您所在的位置：<a href="#" class="no_change">咨询公司</a> &gt; <a href="#" class="visi">典型案例</a></div>
        </div>
        <!--内容-->
        <div class="lz_zhuyao_rdiv720sp">
            <ul class="ul_exmple">
            <li><a href="#"><div class="yanzi">麒麟鲲鹏(中国)生物药业有限公司 (母公司为境外上市公司)</div><div class="yanzi2">常年顾问</div></a></li>
            <li><a href="#"><div class="yanzi">琳得科胶膜科技(上海)有限公司  </div><div class="yanzi2">常年顾问</div></a></li>
			<li><a href="#"><div class="yanzi">加拿大独资西麦克技术（上海）有限公司 </div><div class="yanzi2">资本项目运作及税务咨询</div></a></li>
			<li><a href="#"><div class="yanzi">涛丰电子科技(上海)有限公司(投资方为新加坡上市公司</div><div class="yanzi2">公司设立全套代理作及税务咨询</div></a></li>
			<li><a href="#"><div class="yanzi">构天企业管理咨询(上海)有限公司 </div><div class="yanzi2">帐务、税务代理</div></a></li>
			<li><a href="#"><div class="yanzi">美国独资上海圣特通信技术有限公司  </div><div class="yanzi2">帐务、税务代理</div></a></li>
			<li><a href="#"><div class="yanzi">上海仕达富新桥人才资源有限公司</div><div class="yanzi2">帐务、税务代理</div></a></li>
			<li><a href="#"><div class="yanzi">普利司通 (中国) 投资有限公司</div><div class="yanzi2">涉税项目咨询</div></a></li>
			<li><a href="#"><div class="yanzi">家乐福（中国）管理咨询服务有限公司 </div><div class="yanzi2">涉税项目咨询</div></a></li>
		    <li><a href="#"><div class="yanzi">不凡帝范梅勒糖果（中国）有限公司</div><div class="yanzi2">涉税项目咨询</div></a></li>
			<li><a href="#"><div class="yanzi">卡尔森酒店集团（亚太地区）有限公司 </div><div class="yanzi2">工程项目咨询</div></a></li>
			<li><a href="#"><div class="yanzi">上海泰基珠宝银楼有限公司 </div><div class="yanzi2">咨询</div></a></li>
			<li><a href="#"><div class="yanzi">居易电子技术（上海）有限公司  </div><div class="yanzi2">公司设立前期政策咨询及公司设立</div></a></li>
			<li><a href="#"><div class="yanzi">伍德工程咨询（上海）有限公司   </div><div class="yanzi2">帐务、税务代理</div></a></li>
          </ul>
		  
          <div class="clear"></div>
           <div class="pages"> <a href="#" class="page0">首页</a> <a href="#" class="page0">上一页</a> <a href="#" class="page0 page1">1</a> <a href="#" class="page0">2</a> <a href="#" class="page0">下一页</a> <a href="#" class="page0">尾页</a> </div>
        </div>
        <!--内容end-->
      </div>
    </div>
  </div>
</div>
<!--尾-->
<div class="lz_kjwei">
  <p>COPYRIGHT©2015 上海沪中专业集团 ALL RIGHTS RESERVED <span style="color:#015ca2;">苏ICP备15030313</span></p>
  <p>地址：上海市静安区陕西北路917 号 ，200040 电 话：:021-52137802 传真：021-52137800 </p>
  <p>技术支持：南京瑞虹信息科技有限公司</p>
</div>
</body>
</html>
