<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
     <include file="public/header" />
</div>
<div class="container clearfix">
    <include file="public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span>咨询典型案例</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        	<volist name="list" id='vo'>
	                        	<input name="id"  type="hidden" value="{$vo.id}">
	                            <tr>
	                                <th>左边修改：</th>
	                                <td><input class="bigtext" name="leftContent" size="50" type="text" value="{$vo.leftcontent}"></td>
	                            </tr>
	                           <tr>
	                                <th>右边修改：</th>
	                                <td><input class="text" name="rightContent" size="50"  type="text" value="{$vo.rightcontent}"></td>
	                            </tr>
	                            <tr>
	                                <th></th>
	                                <td>
	                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
	                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
	                                </td>
	                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>