<div class="lz_kjtou_div">
      <div class="lz_kjtou_div_l">你好！欢迎访问上海沪中专业集团官方网站！</div>
      <div class="lz_kjtou_div_r"><a href="#">管理系统</a> | <a href="#">邮件系统</a></div>
    </div>
  </div>
  <div class="lz_kjtou_div2">
    <div class="lz_kjtou2">
      <div class="lz_kjtou_div2_logo"><a href="#"><img src="__PUBLIC__/images/logo.png" width="65" height="41" />上海沪中专业集团</a></div>
      <div class="lz_kjtou_div2_r">
        <div class="lz_kjtou_div2_rfl"><a href="__CONTROLLER__/kuaijigongsijieshao">会计公司<span>&nbsp;|&nbsp;</span></a></div>
        <div class="lz_kjtou_div2_rfl"><a href="__CONTROLLER__/zaojiagongsijieshao">造价公司<span>&nbsp;|&nbsp;</span></a></div>
        <div class="lz_kjtou_div2_rfl"><a href="__CONTROLLER__/shuiwugongsijieshao">税务公司<span>&nbsp;|&nbsp;</span></a></div>
        <div class="lz_kjtou_div2_rfl"><a href="__CONTROLLER__/zixungongsijieshao">咨询公司</a></div>
        <div class="lz_kjfind_btn">
          <input class="lz_kjfind_btninp" type="button" />
        </div>
        <input type="text" class="lz_kjfind" placeholder="&nbsp;站内搜索"/>
      </div>
    </div>
  </div>